@media(max-width: 1280px) {

    .cabecalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .home .container-foto {
        padding: 35px;
    }

    .projetos .container-projetos {
        padding: 0 30px;
    }
}

@media(max-width: 425px) {

    .cabecalho {
        padding: 15px 15px 0 15px;
    }

    .cabecalho .menu .btn-menu .bar {
        height: 5px;
        background: #fff;
        margin: 6px 0;
        border-radius: 25px;
        transition: 0.3s;
    }

    .cabecalho .menu .btn-menu {
        width: 35px;
        display: block;
        margin: -10px 0;
    }

    .bar.animate.um {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar.animate.dois {
        opacity: 0;
    }

    .bar.animate.tres {
        -webkit-transform: rotate(45deg) translate(-10px, -6px);
        transform: rotate(45deg) translate(-10px, -6px);
    }

    .cabecalho .menu ul li {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: -40px;
        background-color: #3f3f3f;
        border-radius: 10px;
        padding: 0 10px;
        transform: scale(0);
        transition: 0.3s;
        max-width: 70%;
    }

    .cabecalho .menu.ativo ul li {
        display: flex;
        flex-direction: column;
        top: 65px;
        right: 0;
        transform: scale(1);
        margin: 0 10px;
    }

    .cabecalho .menu ul li a {
        margin: 5px 10px;
        padding: 5px 0;
        text-align: center;
        font-size: 15px;
    }

    .cabecalho .menu ul li a:hover {
        background: #3f3f3f;
        color: #bbb;
        text-shadow: 0px 0px 5px #3f3f3f;
        transform: scale(1.1);
    }



    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 16px;
    }

    .home .container-foto .foto {
        max-width: 300px;
        max-height: 300px;
    }

    .home .container-foto img {
        max-width: 300px;
        max-height: 300px;
    }

    .tecnologia {
        gap: 10px;
        background: linear-gradient(160deg, #333333, #1a1a1a, #403f3f);
    }

    .tecnologia .titulo {
        font-size: 25px;
        padding: 0 0 10px 0;
    }

    .tecnologia ul li i {
        font-size: 45px;
    }

    .projetos {
        padding: 20px;
    }

    .projetos .container-projetos {
        padding: 10px;
    }
}